/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.gap20 {
    gap: 20px
}
.gap10 {
    gap: 10px
}

.book-card {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  place-items: center;
}

.self-end {
  justify-self: flex-end;
}

.book-card {
    padding: 20px;
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: bisque;
}
button {
  display: block;
}

.show {
  margin-top: 40px;
}




/* modal */

dialog {
    animation: fade-out 0.7s ease-out;
  }
  
  dialog[open] {
    animation: fade-in 0.7s ease-out;
  }
  
  dialog[open]::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
  }
  
  /* Animation keyframes */
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  
    100% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  
    100% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  }
  
  @keyframes backdrop-fade-in {
    0% {
      background-color: rgb(0 0 0 / 0%);
    }
  
    100% {
      background-color: rgb(0 0 0 / 25%);
    }
  }
  
  body,
  button {
    font-family: system-ui;
  }
  